@include tablet {
  .iconos-nosotros {
      @include grid(3, 2rem);
  }
}


.icono {
  text-align: center;
  img {
    height: 10rem;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
  }
  h3 {
    text-transform: uppercase;
  }
}

